/*body {
}

#map {
    width: 80%;
    height: 400px;
}
*/
#map {
    width: 80%;
    height: 400px;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}